Host Ansible-ControlHost
	HostName ec2-52-62-189-139.ap-southeast-2.compute.amazonaws.com
	User ec2-user
	IdentityFile ~/.ssh/AnsibleHost.pem

Host Ansible-WebServer
	HostName ec2-13-54-118-204.ap-southeast-2.compute.amazonaws.com
	User ec2-user
	IdentityFile ~/.ssh/AnsibleHost.pem

Host Ansible-LoadBalancer
	HostName ec2-52-62-146-197.ap-southeast-2.compute.amazonaws.com
	User ec2-user
	IdentityFile ~/.ssh/AnsibleHost.pem

Host Ansible-DatabaseServer
	HostName ec2-13-239-135-130.ap-southeast-2.compute.amazonaws.com
	User ec2-user
	IdentityFile ~/.ssh/AnsibleHost.pem
