upstream {{ item.key }} {

{% for server in groups.webserver %}
    server {{ server }}:{{ item.value.backend_port }};
{% endfor %}

}

server {
    listen {{ item.value.frontend_port }};

    location / {
        proxy_pass http://{{ item.key }}/;
    }
}
